version: "3.9"

services:
  service-registry:
    build: ./serviceregistry
    container_name: service-registry
    hostname: service-registry
    ports:
      - "8761:8761"
    networks:
    - microservices

  config-server:
    build: ./configserver
    container_name: config-server
    hostname: config-server
    ports:
      - "8888:8888"
    networks:
    - microservices

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    hostname: api-gateway
    ports:
      - "8080:8080"
    networks:
    - microservices

networks:
  microservices:
    driver: bridge