#spring:
#  application:
#    name: api-gateway
#
#  config:
#    import: optional:configserver:http://localhost:8888
#       
spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
          - Path=/user-service/**
          filters:
          - StripPrefix=1

        - id: order-service
          uri: lb://ORDER-SERVICE
          predicates:
          - Path=/order-service/**
          filters:
          - StripPrefix=1

        - id: product-service
          uri: lb://PRODUCT-SERVICE
          predicates:
          - Path=/product-service/**
          filters:
          - StripPrefix=1

#      discovery:
#        locator:
#          enabled: true
#          lower-case-service-id: true

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    hostname: localhost
    prefer-ip-address: true

server:
  port: 8080       
       
