spring:
  application:
    name: user-service
  cloud:
    config:
      enabled: true
  profiles:
    active: default
    
  datasource:
    url: jdbc:postgresql://localhost:5433/microservice
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    
server:
  port: 8080
  
eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
    
keycloak:
  admin:
    username: user
    password: user
    server-url: http://keycloak:8080
    realm: ecom-app
    client-id: admin-cli
    client-uid: 74d31cf4-5808-43de-93e0-01a079063245