spring:
  application:
    name: configserver

  profiles:
    active: native

  cloud:
    config:
      config:
        server:
          native:
            search-locations: file:///E:/application-config/config
            search-paths: config
            default-label: main
server:
  port: 8888

management:
  endpoints:
    web:
      exposure:
        exclude: encrypt,decrypt


